body {
  background-image: radial-gradient(grey, black);
}
#img-caption{
  margin-bottom: auto;
}
h2 {
  font-size: 60px;
  text-align: center;
}
h3 {
  font-size: 24px;
}
.fa-twitter-square {
  font-size: 3em;
  color: black;
}
.fa-wikipedia-w {
  font-size: 3em;
  color: black;
}
a {
  margin-bottom: auto;
}

img {
  flex: 1;
  border: 5px solid black;
  border-radius: 4px;
  max-width: 700px;
}
.contText {
  display: flex;
  flex-wrap: wrap;
}
.sides {
  width: 100px;
  flex: 1;
  margin-left: 30px;
}
.container {
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  left: 10%;
  text-wrap: wrap;
  background: dimgray;
  border: double;
  border-radius: 10px;
  width: 80%;
}
#title {
  font-size: 80px;
  text-align: center;
}
.inCont {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
#image {
  width: 100%;
  flex: 1;
}
.contInfo {
  flex: 1;
  text-align: center;
}
p {
  padding: 0px 35px 0px 35px;
  font-size: 19.75px;
  text-align: left;
}
